.projects_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.hh {
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
  color: #63074e;
}
.project {
  /* border: 2px solid black; */
  width: 80%;
  margin: auto;
  /* height: 70vh; */
  border: 5px solid #63074e;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: 30px;
  padding: 2px;
  margin-bottom: 10px;
}
.project:hover {
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.project_videocontainer > div {
  border: 10px solid var(--clr-primary);
  border-radius: 30px;
}
.imgp {
  width: 98%;
  display: block;
  margin: auto;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .project {
    border: 5px solid #63074e;
    box-shadow: var(--shadow);
    text-align: center;
    border-radius: 30px;
    padding: 2px;
    display: block;
    /* margin: auto; */
  }
}
